.parent{
    width: 200px;
    height: 200px;
    border:1px solid #dedede;
    background-color: #acacac;

}

.child-1{
    width: 100%;
    height: 20px;
    background-color:red;
}
.child-2{
    width: 100%;
    height: 20px;
    background-color:green;
}
