<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li role="presentation" routerLinkActive="active"><a routerLink="/template-form">Template Driven Form</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/reactive-form">Reactive Form</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!--place holder to load component-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
