<!--
<div class="container main-container">
  <div class="row">
    <app-header [headerData]="headerData"></app-header>
  </div>

  <div class="row">
    <div class="col-md-2">
      <app-side-nav
      [menuItems]="listOfMenus"
        (selectedMenu) ="onSelectedMenu($event)">
      </app-side-nav>
    </div>
    <div class="col-md-10">
      <app-detail
      [detailsData]="selectedItem"
      ></app-detail>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li role="presentation" routerLinkActive="active"><a routerLink="/">Home</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/contact-us">Contact Us</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/forms">Forms Module</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!--place holder to load component-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
